<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SelfImprovement.Properties.Settings.SelfImprovementConnectionString"
            connectionString="Data Source=DESKTOP-1N4HOQD\SQLEXPRESS;Initial Catalog=SelfImprovement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConsecutiveDaysWorkOut" value="0"/>
    <add key="ConsecutiveDaysStudy" value="0"/>
  </appSettings>
</configuration>